<td>{{ created }}</td>
<td><span class="label label-status label-{{ status }}">{{ status }}</a></td>
<td>
  {{#each tags}}
    <span class="label label-tag">{{short}}</span>
  {{/each}}
</td>
<td>
  {{#each suggested }}
    {{#with expert}}
      <img class="border-{{../expertStatus}}" src="{{ pic }}" style="height:40px">
    {{/with}}
  {{/each}}
</td>
{{!-- TODO calls! --}}
{{!-- <td>{{ callCompleteCount }} / {{ callCount }}</td> --}}
<td>
  <a href="/review/{{ _id }}" target="_blank" class="view button black small tiny">View</a>
  <a href="/find-an-expert/edit/{{ _id }}" data-id="{{ _id }}"
    class="edit button blue small tiny">Update</a>
</td>
