<td>{{ created }}</td>
<td><span class="label label-status label-{{ status }}">{{ status }}</a></td>
<td>{{ contactName }} / {{ company.name }}</td>
<td>
  {{#each tags}}
    <span class="label label-tag">{{short}}</span>
  {{/each}}
</td>
<td>{{ suggestedFitCount }} / {{ suggestedCount }}</td>
<td>{{ callCompleteCount }} / {{ callCount }}</td>
<td>
  <a href="/review/{{ _id }}" target="_blank" class="btn btn-info">View</a>
  <a href="/find-an-expert/update/{{ _id }}" data-id="{{ _id }}" class="edit btn btn-warning">Update</a>
</td>