<div class="sessionCol">
  <div class="user-info">
    {{#each speakers}}
    <img src="//secure.gravatar.com/avatar/{{gravatar}}?s=180" alt="{{name}}" class="img-circle" width="50%">
    <h3 class="name">{{name}}</h3>
    <h4>{{shortBio}}</h4>
    {{/each}}
    <h5 class="tech">{{{title}}}</h5>
    <h6 class="tags">{{#each tags}}<span>{ {{this}} }</span> {{/each}}</h6>
    <time datetime="{{{time}}}"></time>
  </div>
  <div class="description">
    {{#each speakers}}
    <h3 class="name">{{name}}</h3>
    {{/each}}
    <h6>{{{title}}}</h6>
    <time datetime="{{{time}}}"></time>
    <a class="user-badge text-center btn btn-teal" target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text=AirPair+AirConf+{{#each speakers}}{{name}}{{/each}}+{{{title}}}&dates={{calutc}}/{{calend}}&details={{description}}&location=Google+Hangouts&sf=true&output=xml">Add to Calendar</a>
    <a class="btn btn-orange" href="/{{tags.[0]}}/workshops/{{slug}}">More info</a>
  </div>

  <div class="social-icons">
    {{#each speakers}}
    {{#if gh}}<a class="gh" target="_blank" href="//github.com/{{gh}}"></a>{{/if}}
    {{#if so}}<a class="so" target="_blank" href="//stackoverflow.com/users/{{so}}"></a>{{/if}}
    {{#if bb}}<a class="bb" target="_blank" href="{{bb}}"></a>{{/if}}
    {{#if in}}<a class="in" target="_blank" href="//linkedin.com/x/profile/{{in}}"></a>{{/if}}
    {{#if tw}}<a class="tw" target="_blank" href="//twitter.com/{{tw}}"></a>{{/if}}
    {{/each}}
  </div>

</div>
