<div class="sessionCol">
  <time datetime="{{time}}"></time>
  <div class="user-info">
    <a href="/{{tags.[0]}}/workshops/{{slug}}">
    {{#each speakers}}
    <img src="//secure.gravatar.com/avatar/{{gravatar}}?s=180" alt="{{name}}" class="img-circle" width="50%">
    <h3 class="name">{{name}}</h3>
    <h4>{{shortBio}}</h4>
    {{/each}}
    </a>
    <h5><a href="/{{tags.[0]}}/workshops/{{slug}}">{{{title}}}</a></h5>
    <h6 class="tags">{{#each tags}}<span><a href="/{{this}}/workshops">{ {{this}} }</a></span> {{/each}}</h6>
  </div>

  <div class="social-icons">
    {{#each speakers}}
    {{#if gh}}
      <a class="gh" target="_blank" href="//github.com/{{gh}}"></a>
    {{/if}}
    {{#if so}}
      <a class="so" target="_blank" href="//stackoverflow.com/users/{{so}}"></a>
    {{/if}}
    {{#if bb}}
      <a class="bb" target="_blank" href="{{bb}}"></a>
    {{/if}}
    {{#if in}}
      <a class="in" target="_blank" href="//linkedin.com/x/profile/{{in}}"></a>
    {{/if}}
    {{#if tw}}
      <a class="tw" target="_blank" href="//twitter.com/{{tw}}"></a>
    {{/if}}
    {{/each}}
  </div>
</div>
