<fieldset>

  <legend><b>{</b> Populate profile <b>}</b></legend>

  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Saved</h4>
  </div>

  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
  </div>

  <p >We take data from your existing social profiles to rapidly fill in your airpair expert profile.</p>

  <hr />
  <div class="control-group">
    <label class="control-label" for="github">Github</label>
    <div class="controls">
        <a href="/auth/github" class="zocial github">{{#if gh}}Update{{else}}Connect{{/if}}</a>
        {{#if gh}}
          <i class="icon-ok icon-white"></i>
        {{else}}
          <span class="muted"> &nbsp; connect github to improve your profile.</span>
        {{/if}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="stackoverflow">Stackoverflow </label>
    <div class="controls">
        <a href="/auth/stackexchange" class="zocial stackoverflow">{{#if so}}Update{{else}}Connect{{/if}}</a>
        {{#if so}}
          <i class="icon-ok icon-white"></i>
        {{else}}
         <span class="muted"> &nbsp; connect stackoverflow to improve your profile.</span>
        {{/if}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="bitbucket">Bitbucket</label>
    <div class="controls">
        <a href="/auth/bitbucket" class="zocial bitbucket">{{#if bb}}Update{{else}}Connect{{/if}}</a>
        {{#if bb}}
          <i class="icon-ok icon-white"></i>
        {{else}}
        <span class="muted"> &nbsp; connect bitbucket to improve your profile.</span>
        {{/if}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="bitbucket">LinkedIN</label>
    <div class="controls">
        <a href="/auth/linkedin" class="zocial linkedin">{{#if in}}Update{{else}}Connect{{/if}}</a>
        {{#if in}}
          <i class="icon-ok icon-white"></i>
        {{else}}
        <span class="muted"> &nbsp; connect linkedin to improve your profile.</span>
        {{/if}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="twitter">Twitter </label>
    <div class="controls">
        <a href="/auth/twitter" class="zocial twitter">{{#if tw}}Update{{else}}Connect{{/if}}</a>
        {{#if tw}}
          <i class="icon-ok icon-white"></i>
        {{else}}
        <span class="muted"> &nbsp; connect twitter to improve your profile.</span>
        {{/if}}
        {{! <input type="checkbox"> Follow @airpair }}
    </div>
  </div>

  <div style="clear:both"></div>

  <div class="form-actions">
    <a href="#" class="save button">Continue</a>
    <a href="/dashboard" class="button button-gray btn-cancel">Cancel</a>
  </div>

</fieldset>

