<div class="column">
  <a class="session user-badge text-center" href="#">
    <div class="user-info">
      <img src="//secure.gravatar.com/avatar/{{g}}?s=180" alt="{{n}}" class="img-circle" width="50%">
      <h4 class="name">{{n}}</h4>
      <h5 class="tech">{{{t}}}</h5>
      <h6 class="title">{{#each tags}}<span>{{this}}</span>{{/each}}</h6>
      <div class="description">
        <h6>{{{t}}}</h6>
        {{a}}
      </div>
    </div>
    <button class="btn btn-slate btn-block">{{{d}}}</button>
  </a>
  <div class="social-icons">
<a class="ap" href="/book/{{u}}?code=airconf"></a>{{#if gh}}<a class="gh" target="_blank" href="//github.com/{{gh}}"></a>{{else}}<span class="gh"></span>{{/if}}{{#if so}}<a class="so" target="_blank" href="{{so}}"></a>{{else}}<span class="so"></span>{{/if}}{{#if bb}}<a class="bb" target="_blank" href="{{bb}}"></a>{{else}}<span class="bb"></span>{{/if}}{{#if in}}<a class="in" target="_blank" href="//linkedin.com/x/profile/{{in}}"></a>{{else}}<span class="in"></span>{{/if}}{{#if tw}}<a class="tw" target="_blank" href="{{tw}}"></a>{{else}}<span class="tw"></span>{{/if}}
  </div>
</div>
