{{#if homepage}}
<a href="http://{{ homepage }}" target="_blank">{{ homepage }}</a>
{{/if}}

{{#if so}}
<a href="http://stackoverflow.com/users/{{ so }}" target="_blank">stackoverflow/{{ so }}</a>
{{/if }}

{{#if gh}}
<a href="http://github.com/{{ gh }}" target="_blank">github/{{ gh }}</a>
{{/if}}

{{#if bb}}
<a href="http://bitbucket.com/{{ bb }}" target="_blank">bitbucket/{{ bb }}</a>
{{/if}}

{{#if in}}
<a href="http://linkedin.com/{{ in }}" target="_blank">linkedin/{{ in }}</a>
{{/if}}

{{#if other}}
<a href="http://{{ other }}" target="_blank">{{ other }}</a>
{{/if}}
