<div class="expert">
  <div class="fullName">
    { {{ name }} }
  </div>
  <hr />
  {{#if username }}
    <b class="username">@{{ username }}</b>
  {{/if}}

  {{#if pic }}
    <img src="{{ pic }}?s=240" class="pic" />
  {{else}}
    <img src="/images/avatars/default.jpg" class="pic" />
    <i>No image</i>
  {{/if}}



  <div class="links">
    {{#if hasNoLinks}}
      <i>Expert profile empty</i>
    {{else}}
      {{> DevLinks }}
    {{/if}}
  </div>

  {{#if tags }}
  <div class="tags">
    {{#each tags }}
      <span class="label label-tag">{{ short }}</span>
    {{/each }}
  </div>
  {{/if}}

  <div style="clear:both"></div>
</div>
