<span class="label label-tag marketingtag {{type}}" data-id="{{_id}}">
  <span
    data-toggle="popover"
    data-placement="bottom"
    data-content="group: {{group}}<br> type: {{type}}<br> _id: {{_id}}"
    title="<strong>{{name}}<strong>">
    {{name}}
  </span>
  <a href="#" data-id="{{_id}}" class="delete">x</a>
</span>
