    <div class='fold cf'>
    <nav class="cf">
      <img src="/images/logo4.png" />
      <h3>Pair up weekly with baller developers. Make friends. Learn things.</h3>
    </nav>
  </div>

  <div id="how" class="marketing" style="padding:40px">
    <h2>How our virtual meetup works</h2>

    <p>24 hours before each event, we'll send instructions in a meetup message to attendees with the following steps.</p>

    <h3><b>{</b> <i>Step 1</i> Pre-event => Post background info <b>}</b></h3>

    <p>Before the meetup, <a href="#post">post</a> the tech & what you're interested in working on.<p>

    <h3><em>{</em> <i>Step 2</i> Suss out who to pair with <em>}</em></h3>

    <p>Now or just before the event starts, use our <a href="https://docs.google.com/spreadsheet/pub?key={{spreadsheetKey}}" target="_blank">google spreadsheet</a> to find similar backgrounds & interests.</p>

    <h3><b>{</b> <i>Step 3</i> IRC chat to potential pairs <b>}</b></h3>

    <p style="margin:0">At the scheduled time,

     <a href="http://webchat.freenode.net/?channels={{ chatRoomName }}" target="_blank">enter our #{{ chatRoomName }} irc channel</a> using the username you provided in step 1. From there start conversations with other members to find your pair.</p>

    <a href="http://webchat.freenode.net/?channels={{ chatRoomName }}" target="_blank"><img src="/images/meetup/pairprogrammersirc.png" style="width:460px;margin-bottom:0" /></a>

    <h3><em>{</em> <i>4.</i> Step 4: When you've found a pair => Create a hangout <em>}</em></h3>

    <p>Either you or your pair (not both) should create a google hangout using once of the following options</p>

    <a href="https://plus.google.com/hangouts/_?hso=0&gid=140030887085" class="button" target="_blank" style="width:260px;margin:20px 40px 40px 40px">Create broadcasted hangout</a>

    <a href="https://plus.google.com/hangouts/_?authuser=0&gid=140030887085" class="button" target="_blank" style="width:260px;margin:20px">Create private hangout</a>

    <h3><b>{</b> <i>5.</i> Invite & collaborate <b>}</b></h3>

    <p>Get the google email address of your pair(s) & use it to invite them to join your hangout.</p>

    <p>Hangouts work great stand alone for simple screen sharing, especially if your party is more than 2. Optionally, if you want to use collaborative editing tools, the start of the session is the time to discuss & agree.</p>

    <h3><em>{</em> <i>6.</i> Share our meetup <em>}</em></h3>

    <p>Now is a good time to spread the word. We'll also remind you as you enter the chat room to share our meetup to help boost the pool of awesome programmers for you to choose from.</p>

    <br >
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style"   addthis:url="http://www.meetup.com/remotepairprogrammers/"
       addthis:title="Im currently in a virtual Pair Programming jam session with the Remote Pair Programmers Meetup. #{{hashTag}}">
      <a class="addthis_button_email"></a>
      <a class="addthis_button_twitter"></a>
      <a class="addthis_button_hackernews"></a>
      <a class="addthis_button_linkedin"></a>
      <a class="addthis_button_google_plusone_share"></a>
      <a class="addthis_button_facebook"></a>
      <a class="addthis_button_reddit"></a>
      <a class="addthis_button_stumbleupon"></a>
      <a class="addthis_button_wordpress"></a>
      <a class="addthis_button_tumblr"></a>
      <a class="addthis_button_delicious"></a>
      <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
    </div>


    <h3><b>{</b> <i>7.</i> Give feedback <b>}</b></h3>

    <p>The day after the meetup, we'll send a questionnaire asking for feedback on your experience as well as feedback for your pairing partner(s).</p>

    <p style="font-style:italic;color:gray">Our meetup is about finding the best ways to enable devs to find pair programming help. We'd love your input, so please <a href="mailto:team@airpair.com" target="_blank">email us</a> your feedback & ideas.</p>

    <hr />
  </div>

  </div>