<td class="total">${{ total }}</td>
<td>
  <span>
      <img src="/images/{{ paymentType }}-favicon.ico" class="favicon"> {{ createdDate }}
  </span>
  {{#if error }}
    <a href="javascript:alert('{{error.message }}')" style="color:red">ERROR</a>
    | <a class="delete deleteOrder" href="#" data-id="{{ _id }}" title="Delete this order">x</a>
  {{else}}
    <b class="{{ paymentStatus }}">{{ paymentStatus }}</b>
    {{#if isPending }}
      <a class="refresh refreshOrder" href="/paypal/success/{{ _id }}" data-id="{{ _id }}" style="color:green" target="_blank">r</a>
      | <a class="delete deleteOrder" href="#" data-id="{{ _id }}" title="Delete this order">x</a>
    {{/if }}
  {{/if }}
</td>

<td>
  {{#if isPaidout}}
    {{#each lineItems}}
      <b class="paidout" data-id="{{ _id }}">paid</b>
    {{/each}}

  {{!-- not paidout --}}
  {{else}}

    {{#if isPaypal }}{{#if isReceived }}
      {{#if payoutOptions}}
      <b>payout</b> {{!-- feedback for the user that it's in progress --}}
      {{else}}
      <a class="payOutPayPalAdaptive {{#incomplete}}incomplete{{/incomplete}}"
        href="#">payout</a>
      {{/if}}
    {{/if}}{{/if}}

    {{#if isStripe}}
      {{#each lineItems}}
        {{#if linePaidout}}
          <b class="paidout" data-id="{{ _id }}">paid</b>
        {{else}}
          {{#if linePayoutPending}}
          <b>payout</b> {{!-- feedback for the user that it's in progress --}}
          {{else}}
          <a class="payOutPaypalSingle {{#incomplete}}incomplete{{/incomplete}}" href="#"
            data-id="{{ _id }}">payout</a>
          {{/if}}
        {{/if}}
      {{/each}}
    {{/if}}

  {{/if}} {{!-- end if isPaidout --}}
</td>
<td>
  {{#each lineItems}}
    <!-- scheduled   completed            total  -->
    {{ redeemed }} / {{ completed }} / {{ total }}
    {{#with suggestion.expert }}
      <img class="expertPic" src="{{ pic }}" />
      {{ name }}<br />
    {{/with}}
  {{/each}}
</td>
<td>${{ profit }}</td>
