<div class="form-actions" style="margin-top:0">
  <div class="controls">
    <a href="#request/{{ rId }}" class="btn btn-inverse">Back</a>
    {{#if room._id}}
    <a href="#" class="btn btn-danger toggle" data-roomid="{{room._id}}">Disassociate</a>{{/if}}
  </div>
</div>

<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Room save</h4>
</div>

<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Error</h4>
</div>

{{#if roomJSON}}

<pre>{{roomJSON}}</pre>


{{#each members}}
  <br /><b>{{name}}</b> | @{{mention_name}}
{{/each}}

<br /><br />
<div class="control-group">
  <label class="control-label" for="reqOwner">Hello Msg</label>
  <div class="controls">
<textarea name="msg" style="width:400px;height:200px">
Hi guys, welcome to your private chat room :{}
1) HipChat is async. Offline users will see your messages as soon as they come back online. To send email notifications to offline users @ mention them like:{{#each members}}
@{{mention_name}}{{/each}}
</textarea>
  <br />
  <a href="#" class="send-msg btn btn-primary">Send</a>
  </div>
</div>


<textarea name="msg" style="width:400px;height:200px">
2) Now's a good time clarify open questions about the request and if desired agree on (paid) prep time:
https://www.airpair.com/review/{{rId}}
3) Please use this room to agree on a time and length you want to AirPair and mention @all so we can schedule you and track hours without you having to think about it.
</textarea>

{{else}}

<div class="new">

<h2>Room</h2>

<div class="control-group">
  <label class="control-label">Room name</label>
  <div class="controls">
    <input type="text" data-error-style="inline" value="{{ name }}" placeholder="Room name" name="roomName" class="input-block-level">
    <a href="#" class="btn-create btn disabled">Create</a>
    <div style="float:right">{{{tagsString}}}</div>
  </div>
</div>


<h2>Members</h2>

<div id="members"></div>

</div>
<div class="existing">
  <h2>Existing rooms</h2>

  <ul>
  {{#each rooms}}
    <li>{{name}} <a href="#" class="toggle associate" data-roomid="{{_id}}">associate</a></li>
  {{/each}}
  </ul>

</div>

{{/if}}

