<p>{{ _id}}</p>
<label>name</label><input name="name" type="text" value="{{ name }}"/>
<label>short name</label><input name="short" type="text" value="{{ short }}"/>
<label>description</label><input name="desc" type="text" value="{{ desc }}"/>
<label>stackID</label><input name="soId" type="text" value="{{ soId }}"/>
<label>githubID</label><input name="ghId" type="text" value="{{ ghId }}"/>
<label>tokens</label><input name="tokens" type="text" value="{{ tokens }}"/>
<a href="#" class="btn btn-success save">save</a>
<a href="#" class="btn cancel">cancel</a>

{{! <div class="alert alert-error"></div>
<div class="stackoverflow">
  <div class="input-prepend">
    <span class="add-on" style="font-size:11px">stackoverflow.com/questions/tagged/</span>
    <input type="text" class="newStackoverflow span2" name="nameStackoverflow"  data-error-style="inline" />

    <a href="#add-skill" class="btn btn-success save-so">add</a>
    <a href="#" class="btn cancel">cancel</a>
  </div>
</div> }}