<p>Hi {{ expertName }},<p>

<p>You've been matched as an expert suggestion for an airpair requested by {{ companyName }}.<p>

<a href='http://www.airpair.com/review/{{ _id }}'>http://www.airpair.com/review/{{ _id }}</a>

<p>Please review the request and leave feedback on if we've matched you well. Telling us if this was a bad match will help us learn how to send you more relevant requests.</p>

<p>
  Warm regards,
  <br />{{ adminName }}
  <br />http://airpair.com/
  <br />twitter.com/airpair
<p>