{{user}} [{{evtName}}] {{tagsString}} request by {{customerName}}

<p>https://www.airpair.com/adm/pipeline/request/{{requestId}}</p>

<p>
{{#each suggested}}
  {{this.expert.name}}: {{this.expertStatus}}<br />
{{else}}
    No experts suggested.
{{/each}}
</p>
