{{!-- todo use bootstrap styles, error classes, backbone validation --}}
<div class="form-actions admin-nav">
  <a class="btn" href="/adm/inbound/request/{{requestId}}">Back</a>
</div>
<h2>Schedule a Call</h2>
<fieldset>
  <h4>Experts</h4>
  <div class="experts">
  {{#each available}}
    {{#with expert}}
    <label {{#selected}}class="selected"{{/selected}}>
      <input type="radio" value="{{_id}}" name="expertId" {{#selected}}checked{{/selected}}/>
      <img src="{{pic}}" alt="{{name}}" draggable="false" class="expertPic"><br>
      {{name}}<br>
      <span class="balance" title="hours balance">
        {{availability.balance}} {{inflect availability.balance "hour" "hours"}}
      </span>
    </label>
    {{/with}}
  {{else}}
    <p><code>Can't schedule any more calls:</code> all hours have been scheduled
      for available experts</p>
    <p>Ask the customer to book more hours?</p>
  {{/each}}
  </div>


  {{#selectedExpert}}
    <div class="control-group">
      <label class="control-label" for="type">Type</label>
      <div class="controls">
        <select name="type">
          {{#each availability.byTypeArray}}
          {{!-- TODO remember choice across re-renders --}}
          <option value="{{type}}">{{type}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="duration">Duration</label>
      <div class="controls">
        <select name="duration">
          {{#each selectOptions }}
            <option value="{{num}}" {{#selected}}selected{{/selected}}>
              {{num}} {{inflect num "hour" "hours"}}
            </option>
          {{else}}
            <option disabled>0 hours available for this expert</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="date">Date &amp; Time &amp; Timezone</label>
      <div class="controls">
        <input name="date" type="date" class="input-medium" value="{{../date}}">
        <input name="time" type="time" class="input-medium" value="{{../time}}">
        <select name="timezone" class="input-mini">
          <option value="PST" selected>PST</option>
        </select>
      </div>
    </div>
  {{/selectedExpert}}

  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
  </div>

  <div class="form-actions">
    {{!-- TODO grey this out while ajax request in progress  --}}
    <button class="save button">+ Create Call</button>
  </div>
</fieldset>
