{{!-- todo use bootstrap styles, error classes, backbone validation --}}
<div class="form-actions admin-nav">
  <a class="btn" href="/adm/inbound/request/{{requestId}}">Back</a>
</div>
<h2>Schedule a Call</h2>
<fieldset>
  <h4>Experts</h4>
  {{#each available}}
    {{#with expert}}
    <label {{#if selected}}class="selected"{{/if}}>
      <img src="{{pic}}" alt="{{name}}" draggable="false">
      <br />
      <input type="radio" value="{{_id}}" name="expertId" {{#if selected}} checked{{/if}}/>
      {{name}}
      <span class="balance" title="hours balance">{{availability.balance}}</span>
    </label>
    {{/with}}
  {{else}}
    <p>No experts are <code>available</code></p>
  {{/each}}

  {{#selectedExpert}}
    <div class="control-group">
      <label class="control-label" for="type">Type</label>
      <div class="controls">
        <select name="type">
          {{#each availability.byTypeArray}}
          <option value="{{type}}">{{type}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="duration">Duration</label>
      <div class="controls">
        <select name="duration">
          {{#each selectOptions }}
            <option value="{{num}}">{{num}} {{inflect num "hour" "hours"}}</option>
          {{else}}
            <option disabled>0 hours available for this expert</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="date">Date &amp; Time &amp; Timezone</label>
      <div class="controls">
        <input name="date" type="date" class="input-medium" value="{{../date}}">
        <input name="time" type="time" class="input-medium" value="{{../time}}">
        <select name="timezone" class="input-mini">
          <option value="PST" selected>PST</option>
        </select>
      </div>
    </div>
  {{/selectedExpert}}

  {{#if errors}}
  <div class="alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
    {{#each errors}}
      Invalid {{param}}<br>
    {{/each}}
  </div>
  {{/if}}

  <div class="form-actions">
    {{!-- TODO grey this out while ajax request in progress  --}}
    <button id="create" class="save button">+ Create Call</button>
  </div>
</fieldset>
