{{#each recordings}}
  <div>
    <a href="http://youtu.be/{{data.id}}" target="_blank">
      <img src="{{data.snippet.thumbnails.default.url}}" alt="youtube thumbnail">
      <br>
      {{data.snippet.title}}
    </a>
    <br>
    {{data.status.privacyStatus}} on {{data.snippet.channelTitle}} channel.
    <br>
    {{!-- TODO: make human legible --}}
    {{data.contentDetails.duration}} long.
    <button class="delete btn btn-danger" data-id="{{data.id}}">delete</button>
  </div>
{{/each}}
