 <div class="content-sidebar-wrap">
  <main class="content">
    <article class="post type-post format-standard entry">
      <header class="entry-header">

        {{#if isCustomer}}
          {{#if hasAvailableExpert }}
          <div class="alignright book">
            <a href="#book/{{_id}}" class="button">Book hours</a>
          </div>
          {{/if}}
        {{/if}}

        <h1 class="entry-title" itemprop="headline">Request</h1>
        <p class="entry-meta"><time></time><b></b>
          {{#each tags}}
            <span class="label label-tag">{{short}}</span>
          {{/each}}
        </p>
        <p class="entry-meta">Submitted <time datetime="{{createdDate}}" style="font-weight:bold">{{createdDate}} ({{createdAgo}})</time>, status <span class="entry-author-name label label-{{status}}">{{reqStatus}}</span></p>

      </header>
      <div class="entry-content" style="padding:0px 20px">

      {{#if isCustomer}}
        <h5>Budget</h5> <span class="budget"> ${{budget}}/hr ({{pricing}})</span>
      {{/if}}

        <h5>Brief</h5>
        <div class="brief">{{markdown brief}}</div>

      {{#with company}}

        {{#if about }}

          {{#unless ../isByIndividual }}
          <h5>Company</h5>

          {{#if ../associatedWithRequest}}
            {{name}}
          {{else}}
            <a href="javascript:alert('You must be assigned to this request to see full details')">Hidden</a>
          {{/if}}

          {{#if ../associatedWithRequest}}
            {{#if url}}
              <br /><a href="http://{{ url }}" target="_blank">http://{{ url }}</a>
            {{/if}}
          {{/if}}
          <div class="about">{{markdown about}}</div>

          {{/unless}}
        {{/if}}

        <div class="contact">
        {{#each contacts}}

          {{#if pic }}
            <img src="{{ pic }}" />
          {{else}}
            <img src="/images/avatars/default.jpg" />
          {{/if}}

          <h5>Contact</h5>

          {{#if ../../associatedWithRequest}}
            {{fullName}}
          {{else}}
            <a href="javascript:alert('You must be assigned to this request to see the contact name')">Hidden</a>
          {{/if}}
        {{/each}}
      </div>
    {{/with}}

      <h5>Availability</h5>
      {{markdown availability}}

      <br />
    </div>

      <footer class="entry-footer">
        {{#if isCustomer}}
          {{#if hasAvailableExpert }}
          <div class="form-actions book-actions">
            <a href="#book/{{_id}}" class="button">Book hours</a>
          </div>
          {{/if }}
        {{/if}}

      </footer>

    </article>
  </main>
</div>
