
<div class="expertMini suggestion">
  <div class="deets">

    {{#with suggestion.expert}}
    <div class="fullName">
      {{ name }}
      {{#if username }}
      <span class="username">@{{ username }}</span>
    {{/if}}
    </div>
    <hr />

    <img src="{{ pic }}?s=80" class="pic" />
    {{/with}}

  </div>

</div>
<div class="expertOptions">

    <div class="control-group">
      <label class="control-label" for="priving">Hours</label>
      <div class="controls">
          <select name="qty">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </select>
      </div>
    </div>

    <div class="control-group">
      {{! <label class="control-label" for="priving">Privacy requirements</label> }}
      <div class="controls">
          <select name="type">
            <option value="opensource">Open source</option>
            <option value="private">Private</option>
            <option value="nda">Non-disclosure agreement</option>
            <!-- <option value="offline">Off-line</option> -->
          </select>
      </div>
    </div>


</div>
<div class="expertOptions">
  <br />Expert total
  <div>
    <h3>$<span class="total">{{ total }}</span></h3>
    <h4>$<span class="unitPrice">{{ unitPrice }}</span> <em>x</em> <span class="qty">{{ qty }}</span> hrs</h4>
  </div>
</div>
