<div>{{ created }}</div>
<div><span class="label label-status label-{{ status }}">{{ status }}</a></div>
<div{{ contactName }} / {{ company.name }}></div>
<div>
  {{#each tags}}
    <span class="label label-tag">{{short}}</span>
  {{/each}}
</div>
<div></div>
<div></div>