<h2><em>{ </em>Think you can handle it?<em> }</em></h2>


<p style="padding:4px;margin-bottom:20px;width:90%">New to airpair? If you think your {{tagsString}} skills are fine tuned & the brief on the left is something you want to get paid to help with:</p>

{{#if authenticated}}

  <div style="height:40px">
    <a target="_blank" href="mailto:jk@airpair.com?Subject=Want to help with request %23{{_id}}&Body=Can you suggest me for http://airpair.com/review/{{_id}}" class="button claimRequest">{ claim request }</a>
  </div>


{{else}}

 <a href="/be-an-expert" class="button createProfile">{ create your expert profile }</a>
<br /><br />
 <hr style="clear:both" />

  <p>Already an airpair expert, or is this your request?<p>

 <a id="signin" href="/auth/google?return_to=/review/{{_id}}" class="zocial googleplus" style="width:260px;height:32px">Sign in to reply</a>

{{/if}}

<hr style="clear:both" />

<h2>Know someone who can help?</h2>

<a href="mailto:?Subject=Check this {{tagsString}} airpair&Body=I think you could help this person with {{ tagsString }}. Cool concept... paid consulting through google hangouts.%0A%0Ahttp://airpair.com/review/{{_id}}" target="_blank" class="zocial email" style="width:260px;height:32px">Send to a friend</a>


<a href="https://twitter.com/share?url=http://airpair.com/review/{{_id}}&text=Get paid for an hour of {{ tagsString }} consulting via google hangouts =>" class="zocial twitter" target="_blank" style="width:260px;height:32px">Share on twitter</a>

<hr style="clear:both" />

<h2>A recent airpair</h2>

<p style="font-style:italic;font-size:12px">"My first experience with airpair was amazing. I'm working on a RubyMotion app at work and airpair found me an expert within a day. We were able to work through the major hurdle that caused me to seek help within the first hour. You can see us get a UPC scanner running & the source code is at <a href="https://github.com/markrickert/RubymotionUPC-example" target="_blank">https://github.com/markrickert/RubymotionUPC-example</a>. A+++++ Would pair again." <b>Ross Furhman</b></p>

<iframe width="560" height="315" src="http://www.youtube.com/embed/YWU6NcMdO-Y" frameborder="0" allowfullscreen></iframe>

<br /><br />
