<div class="suggestionInfo">
  <dl>
    <dt style="padding-top:0">Status <span class="label label-{{ expertStatus }}">{{ expertStatus }}</span></dt>
    <dt style="display:none">Events</dt>
    <dd style="font-size:10px;margin-left:0">{{#each events}}<i>{{ localDateTime utc }}</i> {{name}}<br />{{/each}}</dd>

    <hr />

    {{#if customerFeedback}}
      <div class="feedback">
        <label><b>Your feedback</b></label>
        <img src="{{custPic}}" class="user" />
        <div><b>{{ customerRating }}/5</b><br />
        {{ customerFeedback }}</div>
      </div>
    {{/if}}
    <div class="well customerFeedback" {{#if customerFeedback}}style="display:none"{{/if}}>
      <h4>Suggestion feedback</h4>

        <select name="customerRating">
          <option value="5">5 - Exactly who I want</option>
          <option value="4">4 - Looks like a good fit</option>
          <option value="3">3 - Should work out</option>
          <option value="2">2 - Really not sure</option>
          <option value="1">1 - Is this a mistake?</option>
        </select>

        <textarea name="customerFeedback" placeholder="What you think of this suggestion?">{{ customerFeedback }}</textarea>

        <label class="checkbox unwanted">
          <input type='checkbox' name="unwanted" /> Suggest someone else
        </label>

        <a href="#customerFeedback" class="button saveFeedback">Submit</a>

        <hr />
    </div>

    {{#if expertFeedback }}
      <div class="feedback">
        <label><b>Expert feedback</b></label>
        <img src="{{expert.pic}}" />
        <div><b>{{ expertRating }}/5</b><br />
        {{ expertFeedback }}</div>
        <br />
        <hr />
        {{ expertComment }}
        <div><b>Availability</b><br />
        {{ expertAvailability }}</div>
      </div>
    {{/if}}

  </dl>

</div>
{{#with expert}}
  {{> Expert }}
  <hr />
{{/with}}