<article class="entry">

  <span class="alignright social-icons">
    {{#with expert}}
      {{#if gh}}<a href="//github.com/{{ gh.username }}" target="_blank" class="github"></a>{{/if}}
      {{#if so}}<a href="//stackoverflow.com/users/{{ so.link }}" target="_blank" class="stackoverflow"></a>{{/if }}
      {{#if bb}}<a href="//bitbucket.org/{{ bb.id }}" target="_blank" class="bitbucket"></a>{{/if}}
      {{#if in}}<a href="//linkedin.com/x/profile/sy5n2q8o2i49/{{ in.id }}" target="_blank" class="linkedin"></a>{{/if}}
      {{#if tw}}<a href="//twitter.com/{{ tw.username }}" target="_blank" class="twitter"></a>{{/if}}
    {{/with}}
  </span>
  <span class="alignleft">
    <img src="{{expert.pic}}?s=200" class="avatar user" />
  </span>
  <header class="entry-header">
    <h2 class="entry-title"><span class="label label-status label-{{ expertStatus }}">{{ expertStatus }}</span></h2>
    <span class="entry-author">
      {{#if expert.homepage}}
        <a href="http://{{expert.homepage}}" target="_blank" class="guest">
          {{expert.name}}
        </a>
      {{else}}
        {{expert.name}}
      {{/if}}
    </span>
    {{#if isCustomer}}
    <label>${{ rates.total }} p.h.</label>
    {{/if}}
  </header>

  <div class="entry-content">
    {{#if expertComment }}
      {{markdown expertComment }}
      <b>Availability</b>
      {{markdown expertAvailability }}
    {{/if}}
    <a href="/schedule/{{requestId}}" class="schedule green button">Schedule a call with {{expert.firstName}}</a>

    <br>
    <br>
    <h2>customer view kinda</h2>
    {{#each calls}}
    <div class="call">
      <p>
        {{../expert.name}} marked themself as <strong>{{status}}</strong> for this {{duration}}h {{type}} call on
        <a href="{{gccal.htmlLink}}">{{{callDateTime datetime}}}</a>
      </p>
    </div>
    {{/each}}


    {{#empty calls}} {{else}}
    <hr><h2>expert view, kinda</h2>
    {{/empty}}

    {{#each calls}}
    <div class="call">
      <p>
        {{duration}}h {{type}} call on
        <a href="{{gcal.htmlLink}}">{{{callDateTime datetime}}}</a>
      </p>

      <a href="?{{_id}}/yes" class="schedule red button">I'm available</a>
      <a href="?{{_id}}/no" class="schedule green button">this time doesn't work for me</a>
    </div>
    {{/each}}
    {{debug}}
  </div>

</article>
