<div class="suggestions">
<h2>Expert recommendation</h2>
<div class="suggestionInfo expertView">
  <dl>
    <dt style="padding-top:0">Status <span class="label label-{{ expertStatus }}">{{ expertStatus }}</span></dt>
    <dt style="display:none">Events</dt>

    <!--<dd style="font-size:10px;margin-left:0">{{#each events}}<i>{{ localDateTime utc }}</i> {{name}}<br />{{/each}}</dd>-->

    <hr />

    {{#if customerFeedback}}
      <div class="feedback">
        <label><b>Your feedback</b></label>
        <img src="{{custPic}}"  />
        <div><b>{{ customerRating }}/5</b><br />
        {{ customerFeedback }}</div>
      </div>
    {{/if}}
    <div class="well expertFeedback" {{#if expertFeedback}}style="display:none"{{/if}}>
      <h4>Suggestion feedback</h4>

        <select name="expertRating">
          <option value="5">5 - Sounds super fun</option>
          <option value="4">4 - Looks like a good fit</option>
          <option value="3">3 - I'll do it this one time</option>
          <option value="2">2 - I see why you chose me, but...</option>
          <option value="1">1 - Brief does not match me at all</option>
        </select>

        <textarea name="expertFeedback" placeholder="What you think of this suggestion? Leave feedback to help us learn your prefereces and get better at what we send you.">{{ expertFeedback }}</textarea>

      <h4>Do you want this airpair?</h4>
        <select name="expertStatus">
          <option value="">... please select</option>
          <option value="available">I'm available for this!</option>
          <option value="abstained">This one's not for me.</option>
        </select>

        <style type="text/css"> .hideShowSave { display:none } </style>

        <textarea class="hideShowSave" name="expertComment" placeholder="Comment">{{ expertComment }}</textarea>

        <textarea class="hideShowSave" name="expertAvailability" placeholder="What is your location, timezone and availability?">{{ expertComment }}</textarea>

        <a href="#expertFeedback" class="button saveFeedback hideShowSave">Submit</a>

        <hr />
    </div>

    {{#if expertFeedback }}
      <div class="feedback">
        <label><b>Expert feedback</b></label>
        <img src="{{expert.pic}}" />
        <div><b>{{ expertRating }}/5</b><br />
        {{ expertFeedback }}</div>
        <br />
        <hr />
        {{ expertComment }}
        <div><b>Availability</b><br />
        {{ expertAvailability }}</div>
      </div>
    {{/if}}

  </dl>

</div>
{{#with expert}}
  <div style="float:right;width:110px">
  {{> ExpertMini }}
  </div>
{{/with}}
</div>