<td><img src="{{ pic }}?s=40" /></td>
<td class="info">
  <a href="#" class="select" data-id="{{ _id }}">{{ name }}</a>
  <br /><a href="mailto:{{ email }}">{{ email }}</a>
  <a class="delete deleteExpert" href="#" data-id="{{ _id }}">x</a>
</td>
<td>
  {{#each tags}}
    <span class="label label-tag">{{short}}</span>
  {{/each}}
</td>
<td>{{> DevLinks }}</td>
<td>{{ rate }}</td>