<td><img src="{{ pic }}?s=40" /></td>
<td class="info">
  <a href="#edit/{{ _id }}">{{ name }}</a>
  <a class="delete deleteExpert" href="#" data-id="{{ _id }}">x</a>
</td>
<td>

    <a href="//mixpanel.com/report/271245/explore/#list/filter:(conjunction:and,filters:!((filter:(operand:'{{name}}',operator:in),property:'$name',selected_property_type:string,type:string))),sort_order:descending,sort_property:'$created',sort_property_type:datetime" c class="zocial guest icon" target="_blank"></a>

    <a href="//mail.google.com/mail/u/0/?shva=1#search/%22{{name}}%22+OR+{{email}}" class="zocial email icon" target="_blank"></a>

    <a href="mailto:{{ email }}" target="_blank" class="zocial gmail icon"></a>

    {{!-- <a href="//plus.google.com/google.id" target="_blank" class="zocial googleplus icon"></a> --}}

    {{> DevLinks }}

</td>
<td>
  {{#each tags}}
    <span class="label label-tag">{{short}}</span>
  {{/each}}
</td>
<td>{{ rate }}</td>
