<td class="total">${{ total }}</td>
<td>
  <span>
<a href="#edit/{{ _id }}" class="selectOrder">
    <img src="/images/{{ paymentType }}-favicon.ico" class="favicon"> {{ createdDate }}</a>
  </span>
  <br />
  {{#if payment.error }}
    <a href="javascript:alert('{{error.message }}')" style="color:red">ERROR</a>
  {{else}}
    <b class="{{ paymentStatus }}">{{ paymentStatus }}</b>
    {{#if isPending }}
      <a class="refresh refreshOrder" href="/paypal/success/{{ _id }}" data-id="{{ _id }}" style="color:green" target="_blank">r</a>
      | <a class="delete deleteOrder" href="#" data-id="{{ _id }}">x</a>
    {{/if }}
  {{/if }}

</td>
<td>
  {{#if contactPic }}
    <img src="{{ contactPic }}" style="float:left;margin:5px" />
  {{else}}
    <img src="/images/default-avatar.jpg" style="float:left;margin:5px" />
  {{/if}}
    <div style="float:left">
      <a href="mailto:{{contactEmail}}" target="_blank">{{ contactName }}</a>
      <br />{{ company.name }}
    </div>
</td>
<td class="info">
   <a href="/adm/inbound/request/{{ requestId }}" target="_blank" data-id="{{ _requestId }}" class="selectOrder">{{ requestId }}</a>
</td>
<td style="text-align:right">
  {{#if isPaypal }}
    {{#if isReceived }}
    <a class="payOut" href="#">payout</a>
    {{/if }}
    {{#if isPaidout}}
      {{#each lineItems}}
        <b class="paidout">paid</b>
      {{/each}}
    {{/if}}
  {{/if }}
</td>
<td>
  {{#each lineItems}}
    {{ qtyRedeemed }}/ {{ qty }}
      {{#with suggestion.expert }}
        <img class="expertPic" src="{{ pic }}" />
        {{ name }}<br />
      {{/with}}
  {{/each}}
</td>
<td>${{ profit }}</td>
