<td class="total">${{ total }}</td>
<td>
  <span>{{ createdDate }}</span>
  {{#if payment.error }}
    <a href="javascript:alert('{{error.message }}')" style="color:red">ERROR</a>
  {{else}}
    <b class="{{ paymentStatus }}">{{ paymentStatus }}</b>
    {{#if isPending }}
      <a class="refresh refreshOrder" href="/paypal/success/{{ _id }}" data-id="{{ _id }}" style="color:green" target="_blank">r</a>
      | <a class="delete deleteOrder" href="#" data-id="{{ _id }}">x</a>
    {{/if }}
    {{#if isReceived }}
      <a class="payOut" href="#">Pay experts</a>
      | <a class="delete deleteOrder" href="#" data-id="{{ _id }}"><i class="icon-remove-sign"> </i></a>
    {{/if }}
  {{/if }}
  <a href="#edit/{{ _id }}" class="selectOrder">
    <img src="/images/{{ paymentType }}-favicon.ico" class="favicon"> view {{ _id }}</a>
</td>
<td>
  {{#if contactPic }}
    <img src="{{ contactPic }}" style="float:left;margin:5px" />
  {{else}}
    <img src="/images/default-avatar.jpg" style="float:left;margin:5px" />
  {{/if}}
    <div style="float:left">
      <a href="mailto:{{contactEmail}}" target="_blank">{{ contactName }}</a>
      <br />{{ company.name }}
    </div>
</td>
<td class="info">
  <a href="/adm/inbound/request/{{ requestId }}" target="_blank" data-id="{{ _requestId }}">{{ requestId }}</a>
</td>
<td>
  {{#each lineItems}}
    {{ qtyRedeemed }}/ {{ qty }}
      {{#with suggestion.expert }}
        <img class="expertPic" src="{{ pic }}" />
        {{ name }}<br />
      {{/with}}
  {{/each}}
</td>
<td>${{ profit }}</td>
