<h3>Existing marketing tags</h3>
{{#empty marketingtags}}
<p>Save your first marketing tag with the form below.</p>
{{/empty}}

{{#each marketingtags}}
  <span class="label label-tag marketingtag {{type}}"
    data-toggle="popover"
    data-placement="bottom"
    data-content="group: {{group}}<br> type: {{type}}<br> _id: {{_id}}"
    title="<strong>{{ name }}<strong>">
    {{name}}
  </span>
{{/each}}
