<div class="form-actions admin-nav">
  <a class="btn" href="/adm/pipeline/request/{{requestId}}">Back</a>
</div>

<fieldset style="padding:0px 20px">
  <div class="experts">
  {{#each available}}
    {{#with expert}}

    <label for="expertId{{_id}}">
      <div class="expertMini suggestion {{#selected}}selected{{/selected}}" >
        <div class="deets">
          <div class="fullName">
            {{name}}
          </div>
          <hr>
          <img src="{{pic}}" alt="{{name}}" draggable="false" class="expertPic">
        </div>

        <div class="hours">
            {{#each credit.byTypeArray}}
              {{balance}} {{inflect balance "hr" "hrs"}}
              {{type}}
              <br>
            {{/each}}
        </div>

        <div class="select">
          <input id="expertId{{_id}}" type="radio" value="{{_id}}" name="expertId" {{#selected}}checked{{/selected}} />
        </div>
      </div>
    </label>

    {{/with}}
  {{else}}
    <p><code>Can't schedule any more calls:</code> all hours have been scheduled
      for available experts</p>
    <p>Ask the customer to book more hours?</p>
  {{/each}}
  </div>

  <hr />

  {{#selectedExpert}}

    <div style="float:left;width:8%;margin-right:5px;font-size:10px">
      <img src="{{pic}}" alt="{{name}}" draggable="false" class="expertPic">

      <span class="muted" style="clear:both;display:block;margin-top:5px">{{name}}</span>
    </div>


    <div style="float:left;width:26%;border-left:solid 1px #d3d3d3;padding-left:25px">

      <div class="control-group">
        <label class="control-label" for="type">Call</label>
        <div class="controls">
          <select name="type" style="width:130px">
            {{#each credit.byTypeArray}}
            <option value="{{type}}" {{#is ../../type type}}selected{{/is}}>
              {{type}}
            </option>
            {{/each}}
          </select>
          <select name="duration" style="width:96px">
            {{#each selectOptions }}
              <option value="{{this}}" {{#is ../../duration this}}selected{{/is}}>
                {{this}} {{inflect this "hr" "hrs"}}
              </option>
            {{else}}
              <option disabled>0 hours available for this expert</option>
            {{/each}}
          </select>
        </div>
      </div>

      <div class="datetimeduration">
        <div class="control-group">
          <label class="control-label" for="date">Time</label>
          <div class="controls">
            <select name="timezone" style="width:62px;margin-top:-10px;display:inline-block">
              <option value="PST" selected>PST</option>
            </select>
            <input name="time" type="text" class="timepicker input-mini"
              value="{{../time}}" placeholder="Pick time" style="width:50px">
            <input name="date" type="text" class="datepicker input-medium"
              value="{{../date}}" placeholder="pick a date" style="width:80px">
          </div>
        </div>
      </div> <!-- end .datetimeduration -->
      <div class="control-group">
        <div class="controls">
          <label class="control-label">
            <input name="sendNotifications" type="checkbox"
            {{#if ../sendNotifications}}checked{{/if}}>
            Send Notification Email
          </label>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="control-label">
            <input name="inviteOwner" type="checkbox"
              {{#if ../inviteOwner}}checked{{/if}}>
              Include {{../owner}}@airpair.com on event
          </label>
        </div>
      </div>

    </div>

    <div style="float:left;width:26%;border-left:solid 1px #d3d3d3;padding-left:25px">
      <div class="control-group">
        <label class="control-label" for="duration">Notes</label>
        <div class="controls">
          <textarea style="height:154px;width:90%" class="input-xxlarge">{{../notes}}</textarea>
        </div>
      </div>

    </div>

    <div style="float:left;width:26%;border-left:solid 1px #d3d3d3;padding-left:25px">
        hey

    </div>


  {{/selectedExpert}}

  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
  </div>


</fieldset>

<div class="form-actions" style="background:white">
  <button class="save button btn-large btn-primary" style="width:160px">Schedule</button>
</div>
