<div>
  <a href="http://youtu.be/{{data.id}}" target="_blank">
    <img src="{{data.snippet.thumbnails.default.url}}" style="height:90px;"
      alt="youtube thumbnail">
    <br>
    {{data.snippet.title}}
  </a>
  <a href="#" class="delete deleteyoutube" data-id="{{data.id}}">x</a>
  <br>{{data.status.privacyStatus}}
  <br>{{data.snippet.channelTitle}} channel.
  <br>{{data.liveStreamingDetails.actualLength}} long.
</div>
