<div class="suggested">


  <div style="height:40px">
    <div class="rate btn">${{ rates.expert }}<em>${{ rates.total }}</em></div>

    {{#with expert}}
    <img src="{{ pic }}" class="pic" />

    <div class="deets">
      <span class="names">
        ${{ rate }} {{ name }}
        {{#if username }} (@{{ username }}) {{/if}}
        <div class="links">{{> DevLinks }}</div>
      </span>

      {{#if tags }}
      <span class="tags">
        {{#each tags }}
          <span class="label label-tag">{{ short }}</span>
        {{/each }}
      </span>
      {{/if}}
    {{/with}}

    </div>
  </div>


  <div>

    <a href="#" data-id="{{ _id }}" class="delete deleteSuggested btn btn-small btn-danger"><i class="icon-trash icon-white"></i> </a>

    <a href="mailto:{{expert.name}}%20%3c{{expert.email}}%3e?subject=airpair - request canceled {{_id}}?&body={{mailTemplates.canceled}}" class="email btn btn-small btn-warning" target="_blank"><i class="icon-envelope icon-white"></i> canceled</a>

    <a href="mailto:{{expert.name}}%20%3c{{expert.email}}%3e?subject=Another expert was selected for airpair {{_id}}?&body={{mailTemplates.another}}" class="email btn btn-small btn-warning" target="_blank"><i class="icon-envelope icon-white"></i> another</a>

    <a href="mailto:{{expert.name}}%20%3c{{expert.email}}%3e?subject=You've been chosen for airpair {{_id}}?&body={{mailTemplates.chosen}}" class="email btn btn-small btn-warning" target="_blank"><i class="icon-envelope icon-white"></i> chosen</a>

    <a href="mailto:{{expert.name}}%20%3c{{expert.email}}%3e?subject={{tagsString}} airpair?&body={{mailTemplates.suggested}}" class="email btn btn-small btn-warning" target="_blank"><i class="icon-envelope icon-white"></i> suggested</a>

    <span class="status label label-{{expertStatus}}">{{ expertStatus }}</span>

  {{#if expertComment}}
    <p>{{ expertComment }}</p>
    <p>{{ expertAvailability }}</p>
  {{else}}
    <p>no comment yet</p>
  {{/if}}

  </div>
</div>