<dl>
  <dt>Company</dt>
  <dd><a href="#" data-toggle="popover" data-content="{{about}}" data-trigger="hover">{{name}}</a></dd>
  {{#if url}}
  <dt style="display:none">Url</dt>
  <dd style="font-weight:normal"><a href="http://{{ url }}" target="_blank">http://{{ url }}</a></dd>
  {{/if}}
  <dt>Primary contact</dt>
  <dd class="contact">
    {{#each contacts}}

    <div>
      <img src="{{pic}}" />
    </div>

    <table>
      <tr>
        <th>Name</th>
        <td>{{fullName}}</td>
        <td style="width:20px"> </td>
        <td><a href="mailto:{{email}}?subject=airpair - We received your {{../tagsString}} request!&body=Hi {{fullName}},{{../mailTemplates.received}}" target="_blank" class="email btn btn-small btn-warning"><i class="icon-envelope icon-white"></i> Received</a></td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{email}}</td>
        <td></td>
        <td><a href="mailto:{{email}}?subject=airpair - We've got you experts!&body=Hi {{fullName}},{{../mailTemplates.review}}" target="_blank" class="email btn btn-small btn-warning"><i class="icon-envelope icon-white"></i> Review</a></td>
      </tr>
      <tr>
        <th>Gmail</th>
        <td>{{gmail}}</td>
        <td></td>
        <td><a href="mailto:{{email}}?subject=airpair - You're matched!&body=Hi {{fullName}},{{../mailTemplates.matched}}" target="_blank" class="email btn btn-small btn-warning"><i class="icon-envelope icon-white"></i> Ready?</a></td>
      </tr>
      <tr>
        <th>Twitter</th>
        <td>{{twitter}}</td>
        <td></td>


        <td><a href="mailto:{{email}}?subject=How was your {{../tagsString}} airpair?&body={{fullName}},{{../mailTemplates.followup}}" target="_blank" class="email btn btn-small btn-warning"><i class="icon-envelope icon-white"></i> How was?</a></td>
      </tr>
    </table>

    {{/each}}
  </dd>
</dl>

