<div class="suggested">

  {{#with expert}}

  <img src="{{ pic }}?s=240" class="pic" />

  <div class="deets">
    <span class="names">
      {{ name }}
      {{#if username }} (@{{ username }}) {{/if}}
      <div class="links">{{> DevLinks }}</div>
    </span>

    {{#if tags }}
    <span class="tags">
      {{#each tags }}
        <span class="label label-tag">{{ short }}</span>
      {{/each }}
    </span>
    {{/if}}

  </div>

  {{/with}}

  <div>

    <a href="mailto:{{expert.name}}%20%3c{{expert.email}}%3e?subject=airpair - request {{#each tags}}/{{short}}{{/each}}?&body={{body}}" class="email btn btn-small btn-warning" target="_blank"><i class="icon-envelope icon-white"></i> </a>
    <a href="#" data-id="{{ _id }}" class="delete deleteSuggested btn btn-small btn-danger"><i class="icon-trash icon-white"></i> </a>

    <a href="#" class="status label label-{{expertStatus}}">{{ expertStatus }}</a>

  {{#if expertComment}}

    <p>{{ expertComment }}</p>

  {{else}}
    {{! <p>No comment by expert yet.</p> }}
  {{/if}}

  </div>
</div>