<label for="farm-tweet-airpair">Tweet by @airpair</label>
<input id="farm-tweet-airpair" type="text" onclick="this.select();" value="{{reqUrl}}?utm_source=twitter-airpair&utm_medium=farm-link&utm_term={{ term }}&utm_campaign=farm-{{ month }}" />
{{! <a href="https://twitter.com/share" target="_blank" data-url="{{reqUrl?utm_source=twitter-airpair&utm_medium=farm-link&utm_term= term &utm_campaign=farm- month ">tweet now</a> }}

<label for="farm-irc-freenode">Freenode IRC</label>
<input id="farm-irc-freenode-group" type="text" onclick="this.select();" value="{{reqUrl}}?utm_source=irc-freenode&utm_medium=farm-link&utm_term={{ term }}&utm_campaign=farm-{{ month }}" />

<label for="farm-linkedin-group">LinkedIN Group</label>
<input id="farm-linkedin-group" type="text" onclick="this.select();" value="{{reqUrl}}?utm_source=linkedin-group&utm_medium=farm-link&utm_term={{ term }}&utm_campaign=farm-{{ month }}" />

<label for="farm-meetup-group">Meetup Group</label>
<input id="farm-meetup-group" type="text" onclick="this.select();" value="{{reqUrl}}?utm_source=meetup-group&utm_medium=farm-link&utm_term={{ term }}&utm_campaign=farm-{{ month }}" />

<label for="farm-remote-pair-programmers">Remote Pair Programmers Group</label>
<input id="farm-remote-pair-programmers" type="text" onclick="this.select();" value="{{reqUrl}}?utm_source=remote-pair-programmers-group&utm_medium=farm-link&utm_term={{ term }}&utm_campaign=farm-{{ month }}" />