
  <div id="coldMailBody">
    Hi {{firstName}},<br><br>

    I'm Jonathon. I recently started a pair programming community called AirPair to support devs learning new tech or stuck on complex problems. I see that you're a top answer for {{tag}} questions on Stack Overflow (awesome).<br><br>

    We have a member <a href="{{url}}&utm_source=cold-email">wanting to {{problem}} and ready to pay ${{hrRate}}/hr</a> for 1-2 hours of expert guidance over video chat/ screen sharing.<br><br>

    The concept works well and being a pair programming expert myself (I like helping folks with backbone.js), I promise it is really fun teaching people things and getting them un-stuck. We did a session a couple of weeks ago on WordPress debugging where I found Eric Mann (a top answerer for WordPress on SO) the same way I'm reaching out to you and you can <a href="https://twitter.com/EricMann/status/398678439219040258">see him tweet</a> about how much he enjoyed it. He even <a href="http://www.airpair.com/wordpress/expert-help-eric-mann">wrote a blog post about his experience</a> for us.<br><br>

    Would love to know if this is something you're keen to try?<br><br>

    Jonathon Kresner<br>
    <a href="http://twitter.com/airpair">twitter.com/airpair</a>
  </div>

  <a id="gmailSearch" target="_blank"
  href="https://mail.google.com/mail/u/0/?shva=1#search/%22{{firstName}}+{{lastName}}%22+OR+{{email}}" class="btn btn-danger">
  1. Check Emailed Already
  </a>

  <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to='{{firstName}} {{lastName}}' <{{email}}>&su=1-2 hrs Help with {{tag}}?" id="coldMailLink" target="_blank" class="email btn btn-warning"><i class="icon-envelope icon-white"></i>2. Send</a>
