<div class="suggested">

  {{#with expert}}

  <img src="{{ pic }}?s=240" class="pic" />

  <div class="deets">
    <span class="names">
      {{ name }}
      {{#if username }} (@{{ username }}) {{/if}}
    </span>

    {{#if tags }}
    <span class="tags">
      {{#each tags }}
        <span class="label label-tag">{{ short }}</span>
      {{/each }}
    </span>
    {{/if}}

    <span class="links">{{> DevLinks }}</span>
  </div>

  {{/with}}

  <div>

    <a href="#" data-id="{{ expert._id }}" class="mailMatched email btn btn-small btn-warning"><i class="icon-envelope icon-white"></i> </a>
    <a href="#" data-id="{{ _id }}" class="delete deleteSuggested btn btn-small btn-danger"><i class="icon-trash icon-white"></i> </a>

    <a href="#" class="status label label-{{expertStatus}}">{{ expertStatus }}</a>

  <p>He how's it going, sorry I don't think I can deal with this one.</p>
  <p>{{ expertComment }}</p>

  </div>
</div>