<legend>Info</legend>
<div class="control-group">
  <div id="company-controls" class="controls"></div>
</div>

<div class="control-group">
  <label class="control-label" for="reqStatus">Status</label>
  <div class="controls">
    <select id="status" name="status">
      <option value="">please select ...</option>
      <option>received</option>
      <option>incomplete</option>
      <option>review</option>
      <option>scheduled</option>
      <option>completed</option>
      <option>canceled</option>
    </select>
  </div>
</div>

<div id="canceled-control-group" class="control-group" style="display:none">
  <label class="control-label" for="reqCanceledReason">Canceled Reason</label>
  <div class="controls">
    <textarea id="reqCanceledReason" name="canceledReason">{{ canceledReason }}</textarea>
  </div>
</div>

<div id="incomplete-control-group" class="control-group" style="display:none">
  <label class="control-label" for="reqCanceledReason">Incomplete detail</label>
  <div class="controls">
    <textarea id="reqIncompleteDetail" name="incompleteDetail">{{ incompleteDetail }}</textarea>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="reqStatus">Tags</label>
  <div id="tagsInput" class="controls controls-tags">
      <div id="tagNewForm"></div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="reqBrief">Brief</label>
  <div class="controls">
    <textarea id="reqBrief" name="brief">{{ brief }}</textarea>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="reqStatus">Availability</label>
  <div class="controls">
    <span id="reqTimezone"></span>
    <div>
      {{#each availability}}
        <div>{{this}} <a href="#" class="deleteAvalability" data-val="{{this}}">x</a></div>
      {{/each}}
    </div>
  </div>
</div>