
<div class="expertMini suggestion">
  <div class="deets">

    <div class="fullName">
      {{ name }}
      {{#if username }}<br />@{{ username }}
    {{/if}}
    </div>
    <hr />

    <img src="{{ pic }}?s=40" class="pic" />

    <div class="links">
      {{> DevLinks }}
    </div>

  </div>

  <div class="tags">
    {{#each tags }}
      <span class="label label-tag">{{ short }}</span>
    {{/each }}
  </div>

  <a href="#" class="add-suggestion btn btn-small" data-id="{{ _id }}">Add (${{rate}})</a>
  <a href="mailto:{{name}}%20%3c{{email}}%3e" class="email btn btn-small btn-warning" target="_blank"><i class="icon-envelope icon-white"></i> </a>
</div>