<div class="form-actions" style="margin-top:0">
  <div class="controls">
    <a href="#request/{{ _id }}" class="btn btn-inverse">Back</a>
  </div>
</div>

{{#with company}}

<div style="float:left;width:400px;margin-right:40px;height:80px;padding:5px">
  <label>Company</label>
  <a href="#" data-toggle="popover" data-content="{{about}}" data-trigger="hover">{{name}}</a>
  {{#if url}}
  <div style="font-weight:normal"><a href="http://{{ url }}" target="_blank">http://{{ url }}</a></div>
  {{/if}}
</div>
<div style="float:left">
  <label>Primary contact</label>
    {{#each contacts}}
    <div>
      {{#if pic }}
        <img src="{{ pic }}" style="height:40px" />
      {{else}}
        <img src="/images/default-avatar.jpg" style="height:40px" />
      {{/if}}
    </div>

    {{/each}}
</div>

{{/with}}


<hr />

<a class="zocial twitter" href="http://twitter.com/intent/tweet?text=WANTED ${{ hrRate }}/hr for remote consulting over google hangouts w {{ tagsString }} => {{urlEncoded}}%26utm_source=twitter-airpair" target="_blank">Tweet now</a></div>

<label for="farm-tweet-airpair">Tweet by @airpair</label>

<a href="{{bitly}}{{urlEncoded}}%26utm_source=twitter-airpair" class="zocial appnet icon" target="_blank"></a>
<input id="farm-tweet-airpair" type="text" onclick="this.select();" value="{{url}}%26utm_source=twitter-airpair" class="url" />

<hr />

<label for="farm-irc-freenode">Freenode IRC</label>

<a href="{{bitly}}{{urlEncoded}}&utm_source=irc-freenode" class="zocial appnet icon" target="_blank"></a>
<input id="farm-irc-freenode" type="text" onclick="this.select();" value="{{url}}&utm_source=irc-freenode" class="url" />

<textarea onclick="this.select();">WANTED: Few hours of remote help with {{ tagsString }} for ${{ hrRate }}/hr. Details ==> {{url}}&utm_source=irc-freenode</textarea>


<hr />

<a class="zocial linkedin" href="http://www.linkedin.com/vsearch/g?keywords={{ tagsString }}" target="_blank">Search groups</a></div>

<label for="farm-linkedin-group">LinkedIN Groups</label>

<a href="{{bitly}}{{urlEncoded}}&utm_source=linkedin-group" class="zocial appnet icon" target="_blank"></a>

<input id="farm-linkedin-group" type="text" onclick="this.select();" value="{{url}}&utm_source=linkedin-group" class="url" />

<input type="text" onclick="this.select();" value="${{hrRate}}/hr for remote consulting help with {{ tagsString }}" />

<textarea onclick="this.select();" rows="5">
We're looking for a few hours of remote pair programming & code review help with {{ tagsString }}.


Full details: {{url}}&utm_source=linkedin-group


---
Follow us for regular opportunities.
http://twitter.com/airpair
---
</textarea>


<hr />

<a class="zocial meetup" href="http://www.meetup.com/find/?keywords={{ tagsString }}&radius=Infinity&userFreeform=San+Francisco%2C+CA%2C+USA&sort=member_count&eventFilter=mysugg" target="_blank">Search groups</a></div>

<label for="farm-meetup-group">Meetup Group</label>

<a href="{{bitly}}{{urlEncoded}}&utm_source=linkedin-group" class="zocial appnet icon" target="_blank"></a>
<input id="farm-meetup-group" type="text" onclick="this.select();" value="{{url}}&utm_source=meetup-group" class="url" />

<hr />

<label for="farm-remote-pair-programmers">Remote Pair Programmers Group</label>
<input id="farm-remote-pair-programmers" type="text" onclick="this.select();" value="{{url}}&utm_source=remote-pair-programmers-group" class="url" />