<legend>Scheduled</legend>
<a class="btn btn-success scheduleCall" href="/adm/schedule/{{_id}}">
  <span class="icon-white icon-calendar"></span>&nbsp;
  Schedule Call
</a>
<div id="scheduled">
  <br>
  {{#each calls}}
    <p class="call">
      <a href="/adm/schedule/{{_id}}" title="edit call information">edit</a>
      <img src="{{expert.pic}}" alt="{{expert.name}}" style="height: 40px">
      {{expert.name}}
      <a href="{{gcalUrl}}" title="view on google calendar" target="_blank">
        on {{date}} at {{time}}
      </a>
      for {{{duration}}} {{inflect duration "hour" "hours"}}.
      {{type}}
    </p>
  {{else}}
  <p><br />No calls scheduled</p>
  {{/each}}
</div>
