<legend>Scheduled</legend>
<div id="scheduled">
  <br>
  {{#each calls}}
    <p class="call">
      <!--
      <a href="/adm/schedule/{{../_id}}/call/{{_id}}" title="edit call information">edit</a>
      -->
      <img src="{{expert.pic}}" alt="{{expert.name}}" style="height: 40px">
      {{expert.name}}
      on <a href="{{gcal.htmlLink}}" title="view on google calendar" target="_blank">
        {{dateTime datetime}} (PST)
      </a>
      for {{{duration}}} {{inflect duration "hour" "hours"}}.
      {{status}}. {{type}}.
      {{#each recordings}}
      <a href="{{link}}" class="zocial youtube icon" target="_blank"></a>
      {{/each}}
    </p>
  {{else}}
  <p>No calls scheduled</p>
  {{/each}}
</div>
