<div class="suggested">


  <div style="height:40px">
    <div class="rate btn">${{ rates.expert }}<em>${{ rates.total }}</em></div>

    {{#with expert}}
    <img src="{{ pic }}" class="pic" title="{{brief}}"/>

    <div class="deets">
      <span class="names">
        ${{ rate }} {{ name }}
        {{#if username }} (@{{ username }}) {{/if}}
        <div class="links">{{> DevLinks }}</div>
      </span>

      {{#if tags }}
      <span class="tags">
        {{#each tags }}
          <span class="label label-tag">{{ short }}</span>
        {{/each }}
      </span>
      {{/if}}
    {{/with}}

    </div>
  </div>


  <div>

    <a href="#" data-id="{{ _id }}" class="delete deleteSuggested btn btn-small btn-danger"><i class="icon-trash icon-white"></i> </a>

    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{expert.name}}%20%3c{{expert.email}}%3e&su=AirPair - request canceled {{requestId}}&body={{mailTemplates.canceled}}" class="email btn btn-small btn-warning" target="_blank"><i class="icon-envelope icon-white"></i> canceled</a>

    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{expert.name}}%20%3c{{expert.email}}%3e&su=Another expert was selected for AirPair {{requestId}}?&body={{mailTemplates.another}}" class="email btn btn-small btn-warning" target="_blank"><i class="icon-envelope icon-white"></i> another</a>

    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{expert.name}}%20%3c{{expert.email}}%3e&su=You've been chosen for AirPair {{requestId}}&body={{mailTemplates.chosen}}" class="email btn btn-small btn-warning" target="_blank"><i class="icon-envelope icon-white"></i> chosen</a>

    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{expert.name}}%20%3c{{expert.email}}%3e&su={{tagsString}} AirPair?&body={{mailTemplates.suggested}}" class="email btn btn-small btn-warning" target="_blank"><i class="icon-envelope icon-white"></i> suggested</a>

    <a href="https://mail.google.com/mail/u/0/?shva=1#search/%22{{expert.name}}%22+OR+{{expert.email}}" class="email btn btn-small btn-inverse" target="_blank"><i class="icon-envelope icon-white"></i> history</a>

    <span class="status label label-{{expertStatus}}">{{ expertStatus }}</span>

    {{#is expertStatus 'available'}}
      {{#gt credit.total 0 }}
    <a href="/adm/call/schedule/{{requestId}}?expertId={{expert._id}}" class="btn btn-small btn-success btn-schedule"><i class="icon-calendar icon-white"></i> {{credit.balance}} {{inflect credit.balance "hr" "hrs"}}</a>
      {{/gt}}
    {{/is}}

  {{#if expertComment}}
    <p>{{ expertComment }}</p>
    <p>{{ expertAvailability }}</p>
  {{else}}
    <p>no comment yet</p>
  {{/if}}

  </div>
</div>
