<div class="controls">
  <table id="suggested" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          {{! <th>Contacted</th> }}
          <th>Mail</th>
          <th>Status</th>
          {{! <th>Schedule</th> }}
          <th></th>
        </tr>
      </thead>
      <tbody>
      {{#each suggested }}
        <tr>
          <td>{{ expert.name }}</td>
          {{! <td>{{ contacted </td> }}
          <td><a href="#" class="mailMatched" data-id="{{ expert._id }}">matched</a></td>
          <td><a href="#" class="updateStatus">{{ status }}</a></td>
          {{! <td>{{ availabilty </td> }}
          <td><a href="#" class="delete deleteSuggested" data-id="{{ _id }}">x</a></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
</div>