<td><a class="edit" href="#request/{{ _id }}" data-id="{{ _id }}">{{ status }}</a>
{{ createdDate }}. {{timeago created}}</td>
<td>
  <span class="label label-owner label-{{ owner }}">{{ owner }}</span>
</td>
<td>
    {{#if contactPic }}
      <img src="{{ contactPic }}" />
    {{else}}
      <img src="/images/default-avatar.jpg" />
    {{/if}}
    <a href="mailto:{{contactEmail}}" target="_blank">{{ contactName }}</a>
    {{ company.name }}
</td>
<td>
  {{#each tags}}
    <span class="label label-tags">{{short}}</span>
  {{/each}}
</td>
<td>
  {{#each suggested }}
    {{#with expert}} <img class="border-{{../expertStatus}}" src="{{ pic }}" />{{/with}}
  {{/each}}
</td>
<td>{{ callCompleteCount }} / {{ callCount }}</td>
