doctype html
html(ng-app='ngAirPair')
  include ./templates/workshop/head

  body#airconf(ng-controller='SessionController')
    include ./templates/workshop/nav
    div(ng-view)
    include ./templates/workshop/login

    script(type="text/ng-template" id="/templates/#{template.name}").
      !{template.html}

    script(type="text/ng-template" id="/templates/#{chatTemplate.name}").
      !{chatTemplate.html}

    script(type="text/javascript").
      window.session = {
        firebase: !{ firebase ? JSON.stringify(firebase) : 'null' },
        user: !{ session ? JSON.stringify(session) : 'null'},
        workshop: !{ workshop ? JSON.stringify(workshop) : 'null'},
        requestId: !{ workshopRequestId ? JSON.stringify(workshopRequestId) : 'null'},
        registration: !{ registration ? JSON.stringify(registration) : 'null'},
        attendees: !{ attendees ? JSON.stringify(attendees) : '[]'},
        attendingWorkshops: !{ attendingWorkshops ? JSON.stringify(attendingWorkshops) : '[]'}
      };

      require('scripts/site/workshop');
