<div class="form-actions admin-nav">
  <a class="btn" href="/adm/inbound/request/{{requestId}}">Back</a>
</div>
<h2>Edit Call</h2>
{{#expert}}
  <img src="{{pic}}" alt="{{name}}" draggable="false" class="expertPic">
  <br />
  {{name}}

<fieldset>
  <!--
  <div class="control-group">
    <label class="control-label" for="type">Type (previously: {{../type}})</label>
    <div class="controls">
      <select name="type">
        {{#each credit.byTypeArray}}
          <option {{#selected}}selected{{/selected}} value="{{type}}">{{type}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  -->

  <div class="datetimeduration">
    <div class="control-group">
      <label class="control-label" for="duration">Duration
        (previously {{../duration}} {{inflect ../duration "hour" "hours"}})
      </label>
      <div class="controls">
        <select name="duration">
          {{#each selectOptions}}
            <option {{#is this ../../duration}}selected{{/is}}
              value="{{this}}">
              {{this}} {{inflect this "hour" "hours"}}
            </option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="date">Timezone / Date / Time
        (previously {{{callDateTime ../datetime}}})</label>
      <div class="controls">
        <select name="timezone" class="input-mini">
          <option value="PST" selected>PST</option>
        </select>
        <input name="date" type="text" class="datepicker input-medium"
          value="{{../date}}" placeholder="pick a date">
        <input name="time" type="text" class="timepicker input-mini"
            value="{{../time}}" placeholder="Pick time">
        <a href="{{../gcal.htmlLink}}" target="_blank">
          <i class="icon-calendar icon"></i> Event
        </a>
      </div>
    </div>
  </div> <!-- end .datetimeduration -->
  <div class="control-group">
    <div class="controls">
      <label class="control-label">
        <input name="sendNotifications" type="checkbox" checked>
        Send Google Calendar Notification Email
      </label>
    </div>
  </div>
  <!-- TODO someday sync this with the gcal RSVPs.
  <div class="control-group">
    <label class="control-label" for="duration">Status (previously: {{../status}})</label>
    <div class="controls">
      <select name="status">
        {{#each statuses}}
        <option value="{{status}}" {{#selected}}selected{{/selected}}>{{status}}</option>
        {{/each}}
      </select>
    </div>
  </div> -->
  <div class="control-group">
    <label class="control-label" for="duration">Notes</label>
    <div class="controls">
      <textarea name="notes" class="input-xxlarge">{{../notes}}</textarea>
    </div>
  </div>
{{/expert}}

  {{#if errors}}
  <div class="alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
    {{#each errors}}
      Invalid {{param}}<br>
    {{/each}}
  </div>
  {{/if}}
</fieldset>
