<div class="form-actions admin-nav">
  <a class="btn" href="/adm/inbound/request/{{requestId}}">Back</a>
</div>

<fieldset>
  <h4>Call expert</h4>
  <div class="experts">
  {{#each available}}
    {{#with expert}}

    <label for="expertId{{_id}}">
      <div class="expertMini suggestion {{#selected}}selected{{/selected}}" >
        <div class="deets">
          <div class="fullName">
            {{name}}
          </div>
          <hr>
          <img src="{{pic}}" alt="{{name}}" draggable="false" class="expertPic">
        </div>

        <div class="hours">
            {{#each credit.byTypeArray}}
              {{balance}} {{inflect balance "hr" "hrs"}}
              {{type}}
              <br>
            {{/each}}
        </div>

        <div class="select">
          <input id="expertId{{_id}}" type="radio" value="{{_id}}" name="expertId" {{#selected}}checked{{/selected}} />
        </div>
      </div>
    </label>

    {{/with}}
  {{else}}
    <p><code>Can't schedule any more calls:</code> all hours have been scheduled
      for available experts</p>
    <p>Ask the customer to book more hours?</p>
  {{/each}}
  </div>

  <hr />

  {{#selectedExpert}}
    <div class="control-group">
      <label class="control-label" for="type">Type</label>
      <div class="controls">
        <select name="type">
          {{#each credit.byTypeArray}}
          <option value="{{type}}" {{#is ../../type type}}selected{{/is}}>
            {{type}}
          </option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="datetimeduration">
      <div class="control-group">
        <label class="control-label" for="duration">Duration</label>
        <div class="controls">
          <select name="duration">
            {{#each selectOptions }}
              <option value="{{this}}" {{#is ../../duration this}}selected{{/is}}>
                {{this}} {{inflect this "hour" "hours"}}
              </option>
            {{else}}
              <option disabled>0 hours available for this expert</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="date">Timezone / Date / Time</label>
        <div class="controls">
          <select name="timezone" class="input-mini">
            <option value="PST" selected>PST</option>
          </select>
          <input name="date" type="text" class="datepicker input-medium"
            value="{{../date}}" placeholder="pick a date">
          <select name="time">
            <option value="00:00" {{#is ../time '00:00'}}selected{{/is}}>00:00</option>
            <option value="00:30" {{#is ../time '00:30'}}selected{{/is}}>00:30</option>
            <option value="01:00" {{#is ../time '01:00'}}selected{{/is}}>01:00</option>
            <option value="01:30" {{#is ../time '01:30'}}selected{{/is}}>01:30</option>
            <option value="02:00" {{#is ../time '02:00'}}selected{{/is}}>02:00</option>
            <option value="02:30" {{#is ../time '02:30'}}selected{{/is}}>02:30</option>
            <option value="03:00" {{#is ../time '03:00'}}selected{{/is}}>03:00</option>
            <option value="03:30" {{#is ../time '03:30'}}selected{{/is}}>03:30</option>
            <option value="04:00" {{#is ../time '04:00'}}selected{{/is}}>04:00</option>
            <option value="04:30" {{#is ../time '04:30'}}selected{{/is}}>04:30</option>
            <option value="05:00" {{#is ../time '05:00'}}selected{{/is}}>05:00</option>
            <option value="05:30" {{#is ../time '05:30'}}selected{{/is}}>05:30</option>
            <option value="06:00" {{#is ../time '06:00'}}selected{{/is}}>06:00</option>
            <option value="06:30" {{#is ../time '06:30'}}selected{{/is}}>06:30</option>
            <option value="07:00" {{#is ../time '07:00'}}selected{{/is}}>07:00</option>
            <option value="07:30" {{#is ../time '07:30'}}selected{{/is}}>07:30</option>
            <option value="08:00" {{#is ../time '08:00'}}selected{{/is}}>08:00</option>
            <option value="08:30" {{#is ../time '08:30'}}selected{{/is}}>08:30</option>
            <option value="09:00" {{#is ../time '09:00'}}selected{{/is}}>09:00</option>
            <option value="09:30" {{#is ../time '09:30'}}selected{{/is}}>09:30</option>
            <option value="10:00" {{#is ../time '10:00'}}selected{{/is}}>10:00</option>
            <option value="10:30" {{#is ../time '10:30'}}selected{{/is}}>10:30</option>
            <option value="11:00" {{#is ../time '11:00'}}selected{{/is}}>11:00</option>
            <option value="11:30" {{#is ../time '11:30'}}selected{{/is}}>11:30</option>
            <option value="12:00" {{#unless ../time}}selected{{/unless}} {{#is ../time '12:00'}}selected{{/is}}>12:00</option>
            <option value="12:30" {{#is ../time '12:30'}}selected{{/is}}>12:30</option>
            <option value="13:00" {{#is ../time '13:00'}}selected{{/is}}>13:00</option>
            <option value="13:30" {{#is ../time '13:30'}}selected{{/is}}>13:30</option>
            <option value="14:00" {{#is ../time '14:00'}}selected{{/is}}>14:00</option>
            <option value="14:30" {{#is ../time '14:30'}}selected{{/is}}>14:30</option>
            <option value="15:00" {{#is ../time '15:00'}}selected{{/is}}>15:00</option>
            <option value="15:30" {{#is ../time '15:30'}}selected{{/is}}>15:30</option>
            <option value="16:00" {{#is ../time '16:00'}}selected{{/is}}>16:00</option>
            <option value="16:30" {{#is ../time '16:30'}}selected{{/is}}>16:30</option>
            <option value="17:00" {{#is ../time '17:00'}}selected{{/is}}>17:00</option>
            <option value="17:30" {{#is ../time '17:30'}}selected{{/is}}>17:30</option>
            <option value="18:00" {{#is ../time '18:00'}}selected{{/is}}>18:00</option>
            <option value="18:30" {{#is ../time '18:30'}}selected{{/is}}>18:30</option>
            <option value="19:00" {{#is ../time '19:00'}}selected{{/is}}>19:00</option>
            <option value="19:30" {{#is ../time '19:30'}}selected{{/is}}>19:30</option>
            <option value="20:00" {{#is ../time '20:00'}}selected{{/is}}>20:00</option>
            <option value="20:30" {{#is ../time '20:30'}}selected{{/is}}>20:30</option>
            <option value="21:00" {{#is ../time '21:00'}}selected{{/is}}>21:00</option>
            <option value="21:30" {{#is ../time '21:30'}}selected{{/is}}>21:30</option>
            <option value="22:00" {{#is ../time '22:00'}}selected{{/is}}>22:00</option>
            <option value="22:30" {{#is ../time '22:30'}}selected{{/is}}>22:30</option>
            <option value="23:00" {{#is ../time '23:00'}}selected{{/is}}>23:00</option>
            <option value="23:30" {{#is ../time '23:30'}}selected{{/is}}>23:30</option>
          </select>
        </div>
      </div>
    </div> <!-- end .datetimeduration -->
    <div class="control-group">
      <div class="controls">
        <label class="control-label">
          <input name="sendNotifications" type="checkbox"
          {{#if ../sendNotifications}}checked{{/if}}>
          Send Google Calendar Notification Email
        </label>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="control-label">
          <input name="inviteOwner" type="checkbox"
            {{#if ../inviteOwner}}checked{{/if}}>
          Invite {{../owner}}@airpair.com to the gcal event
        </label>
      </div>
    </div>
  {{/selectedExpert}}

  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
  </div>

  <div class="form-actions">
    <button class="save button" style="width:160px">Create</button>
  </div>
</fieldset>
