<div class="form-actions admin-nav">
  <a class="btn" href="/adm/inbound/request/{{requestId}}">Back</a>
</div>

<fieldset>
  <h4>Schedule an AirPair session with...</h4>
  <div class="experts">
  {{#each available}}
    {{#with expert}}

    <label for="expertId{{_id}}">
      <div class="expertMini suggestion {{#selected}}selected{{/selected}}" >
        <div class="deets">
          <div class="fullName">{{name}}</div>
          <img src="{{pic}}" alt="{{name}}" draggable="false" class="expertPic">
        </div>

        <div class="hours">
          {{#each credit.byTypeArray}}
            {{balance}} {{inflect balance "hr" "hrs"}}
            {{type}}
            <br>
          {{/each}}
        </div>

        <div class="select">
          <input id="expertId{{_id}}" type="radio" value="{{_id}}" name="expertId" {{#selected}}checked{{/selected}} />
        </div>
      </div>
    </label>

    {{/with}}
  {{else}}
    <p><code>Can't schedule any more calls:</code> all hours have been scheduled
      for available experts.</p>
    <p><a href="/review/{{_id}}">Consider booking more hours?</a></p>
  {{/each}}
  </div>

  <hr />

  {{#selectedExpert}}
    <div class="control-group">
      <label class="control-label" for="type">Type</label>
      <div class="controls">
        <select name="type">
          {{#each credit.byTypeArray}}
          <option value="{{type}}" {{#is ../../type type}}selected{{/is}}>
            {{type}}
          </option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="datetimeduration">
      <div class="control-group">
        <label class="control-label" for="duration">Duration</label>
        <div class="controls">
          <select name="duration">
            {{#each selectOptions }}
              <option value="{{this}}" {{#is ../../duration this}}selected{{/is}}>
                {{this}} {{inflect this "hour" "hours"}}
              </option>
            {{else}}
              <option disabled>0 hours available for this expert</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="date">Timezone / Date / Time</label>
        <div class="controls">
          <select name="timezone" class="input-mini">
            <option value="PST" selected>PST</option>
          </select>
          <input name="date" type="text" class="datepicker input-medium"
            value="{{../date}}" placeholder="pick a date">
          <input name="time" type="text" class="timepicker input-mini"
            value="{{../time}}" placeholder="Pick time">
        </div>
      </div>
    </div> <!-- end .datetimeduration -->
    {{#if isAdmin}}
    <div class="control-group">
      <div class="controls">
        <label class="control-label">
          <input name="sendNotifications" type="checkbox"
          {{#if ../sendNotifications}}checked{{/if}}>
          Send Google Calendar Notification Email
        </label>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="control-label">
          <input name="inviteOwner" type="checkbox"
            {{#if ../inviteOwner}}checked{{/if}}>
          Invite {{../owner}}@airpair.com to the gcal event
        </label>
      </div>
    </div>
    {{/if}}
  {{/selectedExpert}}

  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
  </div>

  <div class="form-actions">
    <button class="save button" style="width:200px">Create session</button>
  </div>
</fieldset>
