<div class="expert call {{status}}">
  <div class="company">
    {{#withFirst company.contacts}}
      {{#if pic }}<img src="{{ pic }}" alt="{{fullName}}">
      {{else}}<img src="/images/default-avatar.jpg" alt="{{fullName}}">{{/if}}

    <span>
      {{fullName}}
    {{/withFirst}}
      <br>
      {{#if company.url}}
        <a href="{{company.url}}">{{company.name}}</a>
      {{else}}
        {{company.name}}
      {{/if}}
    </span>

  </div>
  <h5>
    {{type}} call on
    <a href="{{gcal.htmlLink}}">{{{callDateTime datetime}}}</a> for {{duration}}h
  </h5>
  {{#is 'pending' status}}
    <a href="?{{_id}}/yes" class="schedule slim green button">I'm available</a>
    <a href="?{{_id}}/no" class="schedule slim gray button">This time doesn't work for me</a>
  {{/is}}
  {{#is 'confirmed' status}}&gt; You RSVP'd as <strong>available <!--{{status}}--></strong> for this call.
  Change RSVP to <a href="?{{_id}}/yes">declined</a>.
  {{/is}}
  {{#is 'declined' status}}&gt; You <strong>declined<!--{{status}}--></strong> this call.
  Change RSVP to <a href="?{{_id}}/yes">available</a>.
  {{/is}}
</div>
