<td class="info">
  <a href="#" class="select">{{ name }}</a>
  <br /><a href="{{ url }}">{{ url }}</a>
</td>
<td>
  <b>{{ c.fullName }}</b>
  <br />
  <a href="mailto:{{ c.email }}">{{ c.email }}</a>

  {{#if c.phone}}
    <br />
    {{ c.phone }}
  {{/if}}
</td>
<td class="r">
  <p style="width:500px">{{ about }}</p>
</td>
<td>
  {{ created }}
  [<a class="delete deleteCompany" href="#" data-id="{{ _id }}">x</a>]
</td>
