<td>
  <a class="delete" href="#" data-id="{{ _id }}">x</a>
  <a class="edit" href="#" data-id="{{ _id }}">edit</a>
</td>
<td><a href="#companys/{{ _id }}" class="detail"><b>{{ name }}</b></a></td>
<td>
  {{#if url}}
  <a href="http://{{ url }}}" target="_blank">{{url}}</a>
  {{else}}
   -
  {{/if}}
</td>
<td><div class="about">{{ about }}</div></td>
<td class="contacts">
  {{#each contacts }}
    <a href="mailto:{{email}}">{{ fullName }}</a>
  {{/each}}
</td>