<fieldset class="form-horizontal">
  <legend>Dev</legend>

  <div style="width:48%;float:left">
    <div class="control-group">
      <label class="control-label" for="devName">Name</label>
      <div class="controls">
        <input type="text" id="devName" name="name" placeholder="Full name" value="{{ name }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="devEmail">Email</label>
      <div class="controls">
        <input type="text" id="devEmail" name="email" placeholder="Email" value="{{ email }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="skillShort">Pic</label>
      <div class="controls">
        <input type="text" id="devPic" name="pic" placeholder="Picture Url" value="{{ pic }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="devHompage">Homepage</label>
      <div class="controls">
        <input type="text" id="devHomepage" name="homepage" placeholder="Homepage url" value="{{ homepage }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="devGh">GH</label>
      <div class="controls">
        <input type="text" id="devGh" name="gh" placeholder="Github user id" value="{{ gh }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="devSo">SO</label>
      <div class="controls">
        <input type="text" id="devSo" name="so" placeholder="Stack user id" value="{{ so }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="devBb">BB</label>
      <div class="controls">
        <input type="text" id="devBb" name="bb" placeholder="Bitbucket user id" value="{{ bb }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="devIn">IN</label>
      <div class="controls">
        <input type="text" id="devIn" name="in" placeholder="LinkdIn user id" value="{{ in }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="devOther">Other</label>
      <div class="controls">
        <input type="text" id="devOther" name="other" placeholder="Other url" value="{{ other }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="devSkills">Skills</label>
      <div class="controls">
        <input type="text" id="devSkills" name="skills" placeholder="Skills" value="{{ skills }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="devRate">Rate</label>
      <div class="controls">
        <input type="text" id="devRate" name="rate" placeholder="Rate p.h." value="{{ rate }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a href="#" class="save btn btn-large">Save</a>
      </div>
    </div>
  </div>

</fieldset>