<td></td>
<td><a href="#dev/{{ _id }}"><b>{{ name }}</b></a><br /><a href="mailto:{{ email }}">{{ email }}</a></td>
<td class="skills">{{{ skillsList }}}</td>
<td class="links"></td>
<td>{{ rate }}</td>