<td><img src="{{ pic }}?s=40" /></td>
<td class="info"><a href="#dev/{{ _id }}" class="edit" data-id="{{ _id }}">
    <b>{{ name }}</b></a><br /><a href="mailto:{{ email }}">{{ email }}</a>
    <a class="delete" href="#" data-id="{{ _id }}">x</a>
</td>
<td class="skills">{{{ skillsList }}}</td>
<td class="links"></td>
<td>{{ rate }}</td>