<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Request save</h4>
</div>

<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Error</h4>
</div>


<fieldset style="width:49%;float:left">

 <legend>Info <a href="/review#{{ _id }}" target="_blank">review</a></legend>
  <div class="control-group">
    <label class="control-label" for="reqCompanyName">Company</label>
    <div class="controls">
      <select id="reqCompany" name="companyId">
        <option vale=""></option>
        {{#each companys}}
        <option value="{{ _id }}">{{ name }}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="reqStatus">Status</label>
    <div class="controls">
      <select id="reqStatus" name="status">
        <option value="">please select ...</option>
        <option>received</option>
        <option>incomplete</option>
        <option>review</option>
        <option>scheduled</option>
        <option>completed</option>
        <option>canceled</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="reqStatus">Technologies</label>
    <div class="controls">
      <input type="text" id="reqTech" placeholder="Enter tech" value="{{ skillsSoIds }}" data-error-style="inline" name="skills"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="reqBrief">Brief</label>
    <div class="controls">
      <textarea id="reqBrief" name="brief">{{ brief }}</textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="reqStatus">Availability</label>
    <div class="controls">
      <input type="text" id="reqAvailability" data-error-style="inline" name="skills"/>
      <span id="reqTimezone"></span>
      <div>
        {{#each availability}}
          <div>{{this}}</div>
        {{/each}}
      </div>
    </div>
  </div>

</fieldset>

<fieldset style="width:49%;float:right">
  <legend>Suggestions details</legend>

  <div class="control-group">
    <label class="control-label" for="reqSuggested">Suggested</label>
    <div class="controls">
      <select id="reqDev">
        <option value=""></option>
        {{#each devs}}
        <option value="{{ _id }}">{{ name }}</option>
        {{/each}}
      </select>
      <a class="suggestDev" href="#">add</a>

      <table id="suggested" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              {{! <th>Contacted</th> }}
              <th>Mail</th>
              <th>Status</th>
              {{! <th>Schedule</th> }}
              <th></th>
            </tr>
          </thead>
          <tbody>
          {{#each suggested }}
            <tr>
              <td>{{ dev.name}}</td>
              {{! <td>{{ contacted </td> }}
              <td><a href="#" class="mailMatched" data-id="{{ dev._id }}">matched</a></td>
              <td>{{ status }}</td>
              {{! <td>{{ availabilty </td> }}
              <td><a href="#" class="deleteSuggested" data-id="{{ _id }}">x</a></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="reqCalls">Calls</label>
    <div class="controls">
      <select id="reqCall">
        <option value=""></option>
        {{#each suggested}}
        <option value="{{ dev._id }}">{{dev.name}}</option>
        {{/each}}
        <a class="addCall" href="#">add</a>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="reqCanceledReason">Canceled Reason</label>
    <div class="controls">
      <textarea id="reqCanceledReason" name="canceledReason">{{ canceledReason }}</textarea>
    </div>
  </div>

</fieldset>

<div style="clear:both"></div>

<div class="control-group">
  <div class="controls">
    <a href="#" class="save btn btn-large btn-primary">Save</a>
    <a href="#" class="save btn btn-large btn-success" id="mailDevsContacted">Send mail</a>
    <a href="#" class="btn btn-large">Requests</a>
    <a href="#" class="btn btn-delete delete">Delete</a>
  </div>
</div>

