<td><a class="edit" href="#request/{{ _id }}" data-id="{{ _id }}">{{ status }}</td>
<td>{{ createdDate }}</td>
<td>{{ companyName }}</td>
<td>{{{ skillList }}}</td>
<td>{{ breifSupplied }}</td>
<td>{{ suggestedFitCount }} / {{ suggestedCount }}</td>
<td>{{ callCompleteCount }} / {{ callCount }}</td>
<td>-</td>