<fieldset id="reviewDetail">
  <legend>Review
    <label for="leadId"><span id="leadId">#{{ id }}</span>
      &nbsp <span id="status" class="label label-success"> {{ status }} </span>
    </label>
  </legend>

  <div>
    <label>For</label>
      {{#with company }}
        <span id="companyname">
        {{#if url }}
          <a href="http://{{ url }}" target="_blank">{{ name }}</a>
        {{else}}
          [{{ name }}]
        {{/if}}
        </span>
        <p>{{ about }}</p>
      {{/with}}
  </div>

  {{#each contacts }}
  <div>
      <label>Contact</label>
      <span id="contactName">{{ name }}</span>, <span id="contactTitle">{{ title }}</span>
  </div>

  {{/each}}

  <div class="controls">
    <label>Requirements</label>
    <span id="skills">
      {{#each skills}}
        <span class="label label-skill">{{name}}</span>
      {{/each}}
    </span>
    <div id="brief">{{{ brief }}}</div>
  </div>


  <legend>{{ suggested.length }} Suggested Devs</legend>

  <div id="suggested">

    {{#each suggested }}
      {{#with dev}}

      <div class="suggetion">
        <h4>{{ name }}</h4>
        <img src="{{ pic }}?s=240" class="profile" />
        <div class="skills">
          {{#each skills }}
            <span class="label label-success">{{ soId }}</span>
          {{/each }}
        </div>

        <h6>Links:</h6>
        <div class="links">
          {{> DevLinks }}
        </div>

        {{/with}}
        <hr />
        <label>Status</label>
        <span class="label label-warning label-{{ status }}">{{ status }}</span>
      </div>
    {{/each}}

  </div>

  <div class="clear:both"></div>
  <hr />


</fieldset>