<style type="text/css">
  #reviewDetail p, #brief { font-size:12px;color:gray }
  a:hover { color:black!important }
  .links { height:70px }
  .skills { height:70px }
  .skills .label { margin-right:2px!important;padding:2px 4px!important;font-size:10px }
</style>

<fieldset id="reviewDetail">
  <legend>Review
    <label for="leadId"><span id="leadId">#{{ id }}</span>
      &nbsp <span id="status" class="label label-success"> {{ status }} </span>
    </label>
  </legend>

  <div>
    <label>For</label>
      <span id="companyname">
      {{#if company.url }}
        <a href="http://{{ company.url }}" target="_blank">{{ company.name }}</a>
      {{else}}
        {{ company.name }}
      {{/if}}
      </span>
      <p>{{ company.about }}</p>
  </div>

  {{#each contacts }}
  <div>
      <label>Contact</label>
      <span id="contactName">{{ name }}</span>, <span id="contactTitle">{{ title }}</span>
  </div>

  {{/each}}

  <div class="controls">
    <label>Requirements</label>
    <span id="skills">{{{skillList}}</span>
    <div id="brief">{{{ brief }}}</div>
  </div>


  <legend>{{ suggested.length }} Suggeted Devs</legend>

  <div id="suggested">

    {{#each suggested }}
      {{#with dev}}

      <div class="suggetion">
        <h4>{{ name }}</h4>
        <img src="{{ pic }}" class="profile" />
        <div class="skills">
          {{#each skills }}
            <span class="label label-success">{{ name }}</span>
          {{/each }}
        </div>

        <div class="links">
          Links:
          {{#if so}}
          <br /><a href="http://stackoverflow.com/users/{{ so }}" target=
          "_blank">stackoverflow/{{ so }}</a>
          {{/if }}
          {{#if gh}}
          <br /><a href="http://github.com/{{ gh }}" target=
          "_blank">github/{{ gh }}</a>
          {{/if}}
          {{#if homepage}}
            <br /><a href="http://{{ homepage }}" target="_blank">{{ homepage }}</a>
          {{/if}}
        </div>

        {{/with}}
        <hr />
        <label>Status</label>
        <span class="label label-warning label-{{ status }}">{{ status }}</span>
        <br /><label>Availability</label>{{ availabilty }}
      </div>
    {{/each}}

  </div>

  <div class="clear:both"></div>
  <hr />


</fieldset>