
<div class="expertMini suggestion">
  <div class="deets">

    <div class="fullName">
      {{ name }}
      {{#if username }}<br />@{{ username }}
    {{/if}}
    </div>
    <hr />

    <img src="{{ pic }}?s=40" class="pic" />

    <div class="links">
      {{> DevLinks }}
    </div>

  </div>

  <div class="tags">
    {{#each tags }}
      <span class="label label-tag">{{ short }}</span>
    {{/each }}
  </div>

  <a href="//mail.google.com/mail/u/0/?shva=1#search/{{email}}" class="em" target="_blank"></a><a href="#" class="add btn btn-small" data-id="{{ _id }}">Add ${{rate}}</a><a href="/adm/experts/edit/{{_id}}" class="ap" target="_blank"></a>

</div>
